@layer components{
    .button_every{
        @apply bg-transparent hover:bg-red-400
    }
}
/* .button_every {
    background-color: unset;

    &:hover {
        background-color: var(--gray-3);
    }

    &.is-active {
        background-color: red;

        &:hover {
            background-color: var(--purple-contrast);
        }
    }
} */