@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}

.darkTheme {
  --bg:#0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
}

* {
  box-sizing: border-box;
}

@layer{
  body{
    @apply flex overflow-x-hidden
  };
}

@layer components{
  .container{
    @apply flex min-w-full min-h-screen transition-colors overflow-x-hidden
  };
  .wrapper{
    @apply flex flex-col mx-auto px-10 max-w-md sm:max-w-xl md:max-w-3xl lg:max-w-5xl lg:px-20 xl:max-w-7xl
  };
}

.icons{
  color: var(--softTextColor)
}

.container {
  color: var(--textColor);
  background-color: var(--bg);
}

.primary_link {
  color: var(--textColor);
  font-size: medium;
  font-weight: 500;
}
.primary_link:hover {
  color: orange;
}

