@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}

.darkTheme {
  --bg:#0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
}

* {
  box-sizing: border-box;
}

@layer{
  body{
    @apply flex
  };
}

@layer components{
  .container{
    @apply flex min-w-full overflow-x-clip min-h-screen transition-colors text-[var(--textColor)] bg-[var(--bg)]
  };
  .wrapper{
    @apply flex flex-col mx-auto px-10 max-w-sm sm:max-w-lg md:max-w-2xl lg:max-w-4xl lg:px-20 xl:max-w-6xl 2xl:max-w-[calc(100%-400px)]
  };
  .primary_link{
    @apply text-[var(--textColor)] font-medium hover:text-orange-400 hidden md:flex
  };
  .title_h2 {
    @apply font-medium text-2xl
  };
}

.icons{
  color: var(--softTextColor)
}